/* Pc*/
@media (min-width: 98.9375em) {
    
}

/* Tablet and Mobile */
@media (max-width: 84.375em) {
    #header,
    #sub-header,
    #slider,
    #inf {
        overflow: hidden;
    }

    #nav .subnav a{
        padding : 5px 12px;
    }

    .socials-list {
        font-size: 48px;
        margin:0 8px ;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

    .info-flex {
        margin-right: 0;
    }

    .hold-content {
        margin: 0 5px;
    }

    #nav li a {
        line-height: 48px;
    }

    #nav .subnav a {
        line-height: 32px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 84.375em) {
    .form-info {
        line-height: 2;
    }

    #header {
        min-height: 64px;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav-2 li:first-child {
        margin-left: 320px;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block ;
    }

    #nav > li:first-child {
        display: inline-block;
        width: 100%;
    }

    #nav .subnav {
        position: initial;
        width: 100%;
        background-color: #333;
    }

    #nav .subnav li {
        width: 100%;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    #sub-header {
        display: none;
    }

    #nav .subnav {
    width: 500px;
    }

    #social-mobile-open {
    min-width: 200px;
    }

    .s-full-width,
    .s-col-full {
        width: 100%;
    }

    .s-mt-16 {
        margin-top: 8px !important;
    }
    

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block ;
    }

    #nav > li:first-child {
        display: inline-block;
        width: 100%;
    }

    #nav .subnav {
        position: initial;
        width: 100%;
        background-color: #333;
    }

    #nav .subnav li {
        width: 100%;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #content {
        margin-top: 0px;
        height: 600px;
        overflow: hidden;
        justify-items: center;
    }

    .include-content {
        flex-direction: column;
        width: 90%;
        min-width: 250px;
    }

    .hold-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        height: auto;

    }

    #content .img-quickview {
        margin: 0;
    }

    #inf {
        margin-left: 8vw;
        flex-direction: column;
    }

    .address {
        margin-left: 0;
    }

    .info-flex {
        margin-top: 10px;
    }

    .fi-serv{
        margin: auto;
    }
}


