*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}


/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết

*/
/* 
1.Vị trí
2.Kích thước(width,heitght)
3.Màu sắc
4.Kiểu dáng(Kiểu chữ, hình tròn,vuông,...)
 */

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.icon-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.center {
    top: 50%;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
    transition: all 0.5s;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}


.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.333333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

#main {

}

/* Start:Sub-header */
#sub-header {
    position: relative;
    height: 48px;
    top:0;
    left: 0;
    right: 0;
    background-color: #f07525;
}

.logo-1 {
    width: 200px;
    vertical-align: middle;
}

.logo-1:hover {
    cursor: pointer;
}


#nav-2 {
    display: inline-block;
}

#nav-2 li {
    position: relative;
    display: inline-block;
}

#nav-2 li a {
    text-decoration: none;
    line-height: 48px;
    padding: 0px 16px;
    color: #fff;
}

#nav-2 li::after {
    position: absolute;
    left: 0;
    content: "";
    border-right: 1px solid rgba(255,255,255,.1);
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
}

#nav-2 li:first-child::after {
    border: none;
}

.hotline-header {
    width: 150px;
    vertical-align: middle;
}

#nav-2 li:first-child {
    margin-left: 640px;
}

#nav-2 li:last-child {
    margin-right: 40px;
}


#nav-2 > li:hover a {
    transition: all 0.5s;
    color: #243c85;
}
/* End:Sub-header */

/* Start:Header */

#header {
    position: sticky;
    position: -webkit-sticky;
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 3;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li {
    display: inline-block;
}

#nav > li > a { 
    color: #243c85;
    text-transform: uppercase;
    font-weight: 600;
}

#nav li a {
    text-decoration: none;
    line-height: 61px;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav {
    transition: all 0.5s;
    display: block;
    z-index: 3;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    transition: all 0.5s;
    color: #f07525;
    background-color: rgba(204, 204, 204, 0.204);
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 260px;
    height: var(--subnav-1);
    list-style-type: none;
    background-color: #626262;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    animation: growth ease-in 0.25s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--subnav-1) - 50%)
    }
    to {
        opacity: 1;
        height: calc(var(--subnav-1))
    }
}

#nav .subnav a {
    color: #fff;
    padding: 0 12px;
    line-height: 38px;
    z-index: 3;
}

#nav .subnav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 3;
}

#nav .subnav li:last-child {
    border: none;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .small-pic,
#header .small-pic-1,
#header .small-pic-2 {
    width: 100px;
    vertical-align: middle;
}

#header .small-pic-1 {
    width: 75px;
}

#header .small-pic-2 {
    width: 15px;
}

#header .small-pic:hover,
#header .small-pic-1:hover,
#header .small-pic-2:hover {
    cursor: pointer;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    transition: all 0.5s;
    float: right;
    padding: 0 16px;
}

#header .search-btn:hover {
    transition: all 0.5s;
    cursor: pointer;
    background-color: #fff;
}

#header .mobile-menu-btn:hover {
    transition: all 0.5s;
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    transition: all 0.5s;
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #f07525;
    font-size: 20px;
    line-height: 61px;
}
/* End: Header */

/* Begin: Social */

#social-bar {
    position: fixed;
    width: 150px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.icon-distance {
    margin-left: 30px;
    margin-right: 5px !important;
}

.icon-common {
    display: inline-block;
}

#social li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    margin-bottom: 2px;
    background-color: rgba(32, 49, 127, 0.87);
    line-height: 30px;
    font-weight: 60;
    text-align: right;
    border-radius: 0 30px 30px 0;
}

.social-element:hover .icon-common{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transition: all 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    margin-left: 0;
}

/* End: Social */

#slider {
    position: relative;
    padding-top: 35%;
    background: url('../img/slider/slider-an-1.jpg') top center / cover no-repeat;
    background-size: 100%;
}

/* Begin:Content */
#content {
    height: 200px;
    margin-top: -50px;
}

.hold-content {
    display: inline-flex;
    position: relative;
    margin: 0 20px 0;
    min-width: 195px;
    height: 130px;
    padding:10px 15px 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px #f4eae1;
    flex-wrap: wrap;
    flex-direction: column;
}

#content .hold-content:first-child {
    margin-left: 209.6px;
}

#content .hold-content:last-child {
    margin-right: 209.6px;
}

#content .img-quickview {
    display: block;
    width: 120px;
    margin: auto;
}

#content .inf-cont {
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: -1px;
    text-align: center;
    color: #243C85;
    font-weight: 600;
}

#content .img-quickview:hover {
    cursor: pointer;
    transition: 0.8s;
    transform: scale(1.1);
}

#content .inf-cont:hover {
    cursor: pointer;
}

#content .hold-content::after {
    content: "";
    background: #EE7625;
    width: 40px;
    height: 4px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
/* End:Content */

/* Start: Information */
#inf {
    display: flex;
    background-color: rgb(255, 252, 249);
}

.info-pic {
    width:250px;
}

.inline-flex {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.info-flex {
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;
}

.icon-color {
    color: #f07525;
    font-size: 20px;
    margin-top: 3px;
    margin-right: 5px;
    
}

.font-inf {
    font-size: 15px;
    color: #243c85;
    text-decoration: none;
    line-height: 25px;
    font-weight: 550;
}

.inf-margin {
    margin-top: 20px;
}

h1 {
    font-size: 20px;
    color: #243c85;
}

.address  {
    flex: 3;
    margin-left: 150px;
}

.khcn {
    flex: 2;
}

.khdn {
    flex: 2.5;
}   

.intro {
    flex: 1;
}

.sub-service {
    flex: 2;
    margin-right: 150px;
}

#inf a:hover {
    color: #f07525;
}

.contact {
    margin-bottom: 50px;
}

.service-pic {
    width: 100px;
    margin-bottom: 30px;
}

.service-pic-network {
    width: 50px;
    margin: 0 5px;
    text-align:center;
}
/* End: Information */

/* Footer section */
#footer {
    padding: 32px 16px;
    margin-top: 10px;
    text-align: center;
    background-color:#f6680ae4;
}

#footer .socials-list {
    font-size: 24px;
}
#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
    transition: all 0.5s;
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.6);
}

#footer .copyright a {
    color: rgba(255, 255, 255, 0.6);    
}